.label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  white-space: nowrap;
  pointer-events: none;
  text-shadow:
    0 0 0px rgba(0, 0, 0, 1),
    0 0 1px rgba(0, 0, 0, 0),
    0 0 2px rgba(0, 0, 0, 1),
    0 0 3px rgba(0, 0, 0, 0),
    0 0 4px rgba(0, 0, 0, 1),
    0 0 5px rgba(0, 0, 0, 0),
    0 0 6px rgba(0, 0, 0, 1),
    0 0 7px rgba(0, 0, 0, 0),
    0 0 8px rgba(0, 0, 0, 1),
    0 0 9px rgba(0, 0, 0, 0),
    0 0 10px rgba(0, 0, 0, 1),
    0 0 12px rgba(0, 0, 0, 1),
    0 0 16px rgba(0, 0, 0, 1);
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0em;
  will-change: transform, opacity;
  transform: translateY(-100%);
  opacity: 0;
}
